{% extends 'base.html' %}
{% load static %}
{% block title %}Form Page{% endblock %}
{% block content %}
    <div class='p-4'>
        {% if formDisplay %}
            <form method='post'>
                {% csrf_token %}
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
                {{ formDisplay.as_p }}
                <button class='btn btn-primary'>Submit</button>
            </form>
        {% elif botCatcher %}
            <h1>{{ botCatcher }}</h1>
        {% endif %}
    </div>
{% endblock %}